@model RepositoryLayer.SanPhamVM
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor context;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userSessionId = context.HttpContext.Session.GetString("UserId");
    var userSession = context.HttpContext.Session.GetString(Project4_Nhom3.Common.CommonConstands.USER_SESSION);
}


<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img class="card-img-top" src="~/images/anhsanpham/@Url.Content(Model.Image)" alt="Card image" style=" width: 100%; height:200px ">
            </div>
            <div class="col-sm-3">
                <div id="cards" class="card-deck">
                    <h4 class="card-title">@Model.TenSanPham</h4>
                    <div class="card-body">
                        <p class="card-text">
                            @if (@Model.listKeySP.Where(x => x.Id == Model.KeySPId).FirstOrDefault().TrangThaiKey == true)
                            {
                            <p> Tình Trạng: Còn hàng </p>
                            }
                            else
                            {
                            <p> Tình Trạng: Hết hàng </p>
                            }</p>
                        <p class="card-text">Thể Loại : @Model.TenDanhMucSanPham</p>
                        <p class="card-text">Giá tiền : @Model.GiaTien VND</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <form asp-action="MuaNgay" asp-route-id="@Model.Id">
                                    <div class="ta gc Ge">
                                        <div id="Tb">
                                            <button type="submit" class="db b c ta Ee mc jc">
                                                <svg class="od Cb Da" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" style="width:100%">
                                                    <path d="M0 432c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V256H0v176zm192-68c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H204c-6.6 0-12-5.4-12-12v-40zm-128 0c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM576 80v48H0V80c0-26.5 21.5-48 48-48h480c26.5 0 48 21.5 48 48z"></path>
                                                </svg>
                                                <div>Mua ngay</div>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <form asp-action="ThemGioHang">
                                    <div id="Tb">
                                        <button type="submit" class="db b d ta Ee mc jc">
                                            <svg class="od Cb Da" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" style="width:100%">
                                                <path d="M551.991 64H144.28l-8.726-44.608C133.35 8.128 123.478 0 112 0H12C5.373 0 0 5.373 0 12v24c0 6.627 5.373 12 12 12h80.24l69.594 355.701C150.796 415.201 144 430.802 144 448c0 35.346 28.654 64 64 64s64-28.654 64-64a63.681 63.681 0 0 0-8.583-32h145.167a63.681 63.681 0 0 0-8.583 32c0 35.346 28.654 64 64 64s64-28.654 64-64c0-18.136-7.556-34.496-19.676-46.142l1.035-4.757c3.254-14.96-8.142-29.101-23.452-29.101H203.76l-9.39-48h312.405c11.29 0 21.054-7.869 23.452-18.902l45.216-208C578.695 78.139 567.299 64 551.991 64zM464 424c13.234 0 24 10.766 24 24s-10.766 24-24 24-24-10.766-24-24 10.766-24 24-24zm-256 0c13.234 0 24 10.766 24 24s-10.766 24-24 24-24-10.766-24-24 10.766-24 24-24zm279.438-152H184.98l-31.31-160h368.548l-34.78 160zM272 200v-16c0-6.627 5.373-12 12-12h32v-32c0-6.627 5.373-12 12-12h16c6.627 0 12 5.373 12 12v32h32c6.627 0 12 5.373 12 12v16c0 6.627-5.373 12-12 12h-32v32c0 6.627-5.373 12-12 12h-16c-6.627 0-12-5.373-12-12v-32h-32c-6.627 0-12-5.373-12-12z"></path>
                                            </svg>
                                            <div>Thêm vào giỏ</div>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label>Quảng cáo</label>
            </div>
            <p>__________________________________________________________________________________________________________________________________________________________________</p>
            <div class="row">
                <div>
                    <label>Thông tin</label>
                    <p>@Model.ThongTin</p>
                </div>
            </div>
            <div class="row">
                <p>VIDEO</p>
            </div>
            @*@if (userSessionId != null)
            {*@
            <div class="row">
                <label class="control-label">Bình luận</label>

                <div class="container mt-5">
                    <div class="d-flex justify-content-center row">
                        <div class="col-2">
                            <div class="d-flex flex-row align-items-start">
                                <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                                <span>@userSession</span></div>
                        </div>
                        <div class="col-8">
                            <div class="d-flex flex-column comment-section">
                                <div class="bg-light p-2">
                                    <textarea class="form-control ml-1 shadow-none textarea"></textarea>
                                    <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*}*@
        </div>
    </div>
</section>
