@model RepositoryLayer.SanPhamVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        @*new*@
        <div class="col-md-12 col-sm-12 col-sx-12 sub frm_box_product_details">
            <div class="col-md-5 col-sm-5 col-sx-12 sub frm_box_product_images">
                <img class="card-img-top" src="~/images/anhsanpham/@Url.Content(Model.Image)" alt="Card image" style=" width: 100%; height:200px ">
            </div>
            <div class="col-md-7 col-sm-7 col-sx-12 sub frm_box_product_des">
                <ul class="list-unstyled description">
                    <li><b>Thể loại:</b> <span class="font_root_id">@Model.TenDanhMucSanPham</span></li>
                    <li><b>Mã sản phẩm:</b> <span class="font_root_id">@Model.RollNo</span></li>
                    <li>
                        <b>Tình trạng:</b> <span class="quantity_1">
                            <p class="card-text">
                                @if (@Model.listKeySP.Where(x => x.Id == Model.KeySPId).FirstOrDefault().TrangThaiKey == true)
                                {
                                <p style="color:lawngreen;font-weight:bold"> Còn hàng </p>
                            }
                            else
                            {<p style="color:red;font-weight:bold"> Hết hàng </p>}</p>
                            </span>
                        </li>
                    </ul>
                    @if (Model.giamGia.TrangThai)
                    {
                        <ul id="price-box">
                            <li class="price">
                                <span class="real">@Model.GiaThayDoi VND</span>
                                <span class="price-old">@Model.GiaTien VND</span>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul id="price-box">
                            <li class="price">
                                <span class="real">@Model.GiaTien VND</span>

                            </li>
                        </ul>
                    }

                    <div class="promotion-request info">
                        <form method="post">
                            <input type="hidden" name="root_id" value="900293">
                            <div class="form-group">
                                <label for="email" id="label_product_preorder"><i class="fa fa-bell"></i> Thông báo Giá tốt</label>
                                <input class="form-control" type="text" name="email" id="product_preorder" placeholder="Email hoặc Phone" autocomplete="on" required="">
                                <button class="btn btn-default" type="button" id="subcriber"><i class="fa fa-send" style="padding: 5px 0px 0px 0px;"></i> Đăng ký nhận tin</button>
                            </div>
                            <input type="hidden" name="csrf_trumxi_web" value="ab9b17166a958a8ff87ccc524b430d6f">

                        </form>
                    </div>
                    <div class="col-md-12 col-sm-12 col-sx-12 sub frm_box_product_des_cart">
                        <div class="col-md-12 col-sm-12 col-xs-12 sub cta-box-description ">
                            Mua trước @Model.TenSanPham trước để nhận được nhiều phần quà lớn
                        </div>
                        <div class="quantity-col1 col-md-3 col-sm-3 col-xs-12 sub">
                            <div class="input-group bootstrap-touchspin">
                                <span class="input-group-btn">
                                    <button class="btn btn-default bootstrap-touchspin-down" type="button">-</button>
                                </span>
                                <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                <input id="qty" name="qty" type="number" min="1" max="30" value="1" class="form-control" style="display: block;" required="">
                                <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                <span class="input-group-btn">
                                    <button class="btn btn-default bootstrap-touchspin-up" type="button">+</button>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12 sub cta-box ">
                            <form asp-action="MuaNgay" asp-route-id="@Model.Id">
                                <div class="col-md-5 col-sm-5 col-xs-12 sub cta-box-sub">
                                    <button id="btnActionBuy" class="btn btn-default" type="submit">
                                        <span class="text"> <i class="fa fa-shopping-cart"> </i> <span id="cart_action_order">MUA NGAY</span></span>
                                    </button>
                                </div>
                            </form>
                        </div>


                        <div class="col-md-3 col-sm-3 col-xs-12 sub cta-box-sub">
                            <form asp-action="ThemGioHang">
                                <button id="btnActionBuy" class="btn btn-default btnActionBuyAdd" type="button">
                                    <span class="text"> <i class="fa fa-cart-plus"> </i> <span id="cart_action_order">THÊM GIỎ HÀNG</span></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <p>__________________________________________________________________________________________________________________________________________________________________</p>
            <div class="col-md-12 col-sm-12 col-sx-12 sub frm_box_product_details">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab-description" data-toggle="tab" aria-expanded="true">Chi tiết sản phẩm</a>
                    </li>
                    <li>
                        <a href="#tab-platform" data-toggle="tab" aria-expanded="false">Cấu hình</a>
                    </li>
                    <li>
                        <a href="#tab-review" data-toggle="tab" aria-expanded="false">Đánh giá (<span id="root_count_viewer">0</span>)</a>
                    </li>
                    <li>
                        <a href="#tab-guide" data-toggle="tab" aria-expanded="false"> Review Youtube</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-description">
                        <br />
                        <article style="max-height: none; height: 400px;" data-readmore="" aria-expanded="false" id="rmjs-1">
                            <p>
                                <span style="font-size:18px;">
                                    @Model.ThongTin
                                </span>
                            </p>
                        </article>
                    </div>
                    <div class="tab-pane fade" id="tab-platform">
                        <br />
                        <p>
                            <span style="font-size:18px; color:deepskyblue">
                                MINIMUM:<br>
                                Requires a 64-bit processor and operating system<br>
                                OS: Windows 10 64-bit<br>
                                Processor: Intel Core i5 6600k or AMD Ryzen 5 1600<br>
                                Memory: 8 GB RAM<br>
                                Graphics: NVIDIA GeForce GTX 1050 Ti or AMD Radeon RX 570<br>
                                DirectX: Version 12<br>
                                Network: Broadband Internet connection<br>
                                Storage: 100 GB available space
                            </span>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="tab-review">
                        <div class="col-md-12 col-sm-12 col-sx-12 sub cproduct-review-box">

                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-sx-12 sub ">
                                    <label class="control-label" for="input-review"><a class="c-action-login-now" href="#" title="Đăng nhập để nhận xét" rel="dofollow">Đăng nhập</a> hoặc <a class="c-action-login-now" href="#" title="Đăng ký để nhận xét" rel="dofollow">Đăng Ký</a> để nhận xét cho sản phẩm này</label>
                                </div>
                            </div>
                            <div id="root-layout-comments">

                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 sub">
                                <input type="hidden" id="current_page">
                                <input type="hidden" id="show_per_page">
                                <nav>
                                    <ul class="pagination" id="page_navigation">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-guide" style="background: #fff;">
                        <div class="col-md-12">
                            <iframe id="video_player"
                                    frameborder="0"
                                    allowfullscreen="1"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    title="Games"
                                    width="900"
                                    height="400"
                                    src="@Model.UrlVideo">
                            </iframe>
                        </div>
                        <br />
                    </div>
                </div>

            </div>
    </section>

    <script>
        $("input[name='qty']").TouchSpin({
            buttondown_class: "btn btn-link",
            buttonup_class: "btn btn-link"
        });
    </script>
