@model IEnumerable<DomainLayer.Models.GioHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
<link href="~/Content/Data/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<div id="content">
 
    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Danh sách Giỏ hàng</h4>
                <a class="float-lg-right btn btn-primary" href="/Admin/GioHangs/Create">Thêm loại Giỏ hàng</a>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr style="Background: #456bd9">
                                <th style="color:white">
                                    @Html.DisplayNameFor(model => model.SanPhamId)
                                </th>
                                <th style="color:white">
                                    @Html.DisplayNameFor(model => model.UserId)
                                </th>
                                <th style="color:white">
                                    @Html.DisplayNameFor(model => model.SoLuong)
                                </th>
                                <th style="color:white">
                                    @Html.DisplayNameFor(model => model.TongTien)
                                </th>
                                <th style="color:white">
                                    @Html.DisplayNameFor(model => model.NgayTao)
                                </th>
                                <th style="color:white">Tuỳ chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.SanPhamId
                                    </td>
                                    <td>
                                        @item.UserId
                                    </td>
                                    <td>
                                        @item.SoLuong
                                    </td>
                                    <td class="col-sm-3">
                                        @item.TongTien
                                    </td>
                                    <td class="col-sm-3">
										<div class="date-format">@item.NgayTao</div>
                                    </td>
                                    <td style="text-align : center">
                                        @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("Xoá", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="~/js/site.js"></script>
    </div>
    <!-- /.container-fluid -->
</div>
