@model IEnumerable<DomainLayer.Models.DanhMucSanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<link href="~/Content/Data/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<style>
    .text-overflow {
    width: auto;
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 100% !important;
}
</style>
<div id="content">

    <!-- Topbar -->
    @*<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <h1 class="h3 mb-2 text-gray-800" style="color:black"><b>Quản lý sản phẩm</b></h1>
    </nav>*@
    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Danh sách danh mục</h4>
                <a class="float-lg-right btn btn-primary" href="/Admin/DanhMucSanPhams/Create">Thêm loại sản phẩm</a>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr style="Background: #456bd9">
                                <th style="color:white">
                                    Tên danh mục
                                </th>

                                <th style="color:white">
                                    Thông tin
                                </th>
                                <th style="color:white">
                                    Ngày tạo
                                </th>
                                <th style="color:white">
                                    Ngày Sửa
                                </th>
                                <th style="color:white">Tuỳ chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="col-sm-2">
                                        @item.TenDanhMuc
                                    </td>
                                    <td class="col-sm-3 text-overflow">
                                        @item.ThongTin
                                    </td>
                                    <td class="col-sm-2">
                                        <script >
                                             var a = '@item.NgayTao';
                                                document.write(a.substring(0,10));
                                        </script>
                                    </td>
                                    <td class="col-sm-2">
                                        <script>
                                            var a = '@item.NgaySua';
                                            document.write(a.substring(0, 10));
                                        </script>
                                    </td>
                                    <td class="col-sm-2"  style="text-align : center">
                                        @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("Xoá", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
